body {
  font-family: 'Lato';
}

nav {
  padding: 10px 0px 10px 10px;
  position: fixed;
}

ul {
  list-style-type: none;
  margin: 5px;
}
 

li {
  width: 150px;
  margin: 2px;
  padding: 2px;
  background-color: #ddd;
  text-align: right;
}

a {
  text-decoration: none;
}

a[target='_blank']:after {
  content: ' \29C9';
  font-size: .8em;
}

li h3 {
  color: #f44336;
  padding: 0px 5px 0px 0px;
}

li:nth-child(n+2) a {
  background-color: #f44336;
  width: 100%;
  display: block;
  padding: 5px;
  margin: 5px;
  color: #ddd;
}

li a:hover, a:active {
  background-color: red;
}

.main {
  width: 55%;
  padding: 15px;
  margin: auto;
  text-align: justify;
}


h2 {
  color: #f44336;
  margin-top: 20px;
  }

button {
  border: none;
  background-color: #f44336;
  display: block;
  padding: 5px;
  color: #ddd;
  margin-top: 5px;
  cursor: pointer;
}

button:hover, button:active {
  background-color: red;
}

#flickr {
  width: 633px;
  background-color: #ddd;
  color: #f44336;
  display: block;
  text-align: center;
  padding: 5px;
}



#flickr:hover, #flickr:active {
  background-color: red;
}

/* For mobile*/ 
@media only screen and (max-width: 1100px) {
  ul {
    position: static;
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

  }
  
  li {
    float: left;
    display: inline;
    background-color: none;
    overflow: hidden;
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding-right: 5px;
    font-size: 1em;
    width: auto;
    background-color: #f44336;
  }

  li:nth-child(n+2) a, li h3 {
    padding: 8px 5px 8px 5px;
    margin: 0px;
    background-color: #f44336;
    color: #ddd;
    text-align: center;
    font-size: 1em;
  }

  nav {
    padding: 0px;
    margin: 0px 0px 50px 0px;
    width: 100%;
  }

  li:nth-child(n+2) a:hover, li:nth-child(n+2) a:active {
    background-color: red;
  } 

  body {
    margin-top: 10px;
    width: 100%;
  }

  .main {
    margin-top: 20px;
    width: 90%
  }

  #flickr {
  width: 310px;
}
