body {
  font-family: 'Lato';
  margin-top: 50px;
}

nav {
  padding: 10px 0px 10px 10px;
  position: fixed;
}

ul {
  list-style-type: none;
  margin: 5px;
}
 

li {
  width: 150px;
  margin: 2px;
  padding: 2px;
  background-color: #ddd;
  text-align: right;
}

a {
  text-decoration: none;
}

a[target='_blank']:after {
  content: ' \29C9';
  font-size: .8em;
}

li h3 {
  color: #f44336;
  padding: 0px 5px 0px 0px;
}

li:nth-child(n+2) a {
  background-color: #f44336;
  width: 100%;
  display: block;
  padding: 5px;
  margin: 5px;
  color: #ddd;
}

li a:hover, a:active {
  background-color: red;
}

.container {
  width: 650px;
  padding: 15px;
  margin: auto;
}

.main {
  text-align: justify;
}

h2 {
  color: #f44336;
  margin-top: 20px;
  }

button {
  border: none;
  background-color: #f44336;
  display: block;
  padding: 5px;
  margin: 5px;
  color: #ddd;
}

/* body {
  font-family: 'Lato',arial,sans-serif;
  font-size: 100%
  line-height: 1.3em;
 }


.container {
  max-width: auto;
  margin: 0 auto;
}

.hello {
  overflow: auto;
}
.hello h2 {
  position: relative;
}
.hello a {
  float: right;
  padding-left: 10px;
  text-decoration: underline;
}
.wrapper {
  margin: 0px auto;
  padding: 5px 0px 0px 20px;
  max-width: 550px;
  float: center;
}

.wrapper h2 {
 font-size: 1.375em;
  margin: 1em 0px;
  border-bottom: 1px solid #ccc;
  width: 550px;
}

.wrapper p {
  font-size: 1em;
  margin: 0px 0px 1em 0px;
  text-align: justify;
}
a {
  text-decoration: none;
  color: #060d55;
}
.photo {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
  padding: 20px 20px 20px 0px;
  border-right: black solid 1px;
  margin-right: 20px;
}
#flickr {
  margin: 25px 0px 35px 0px;
}
#games.js {
  margin: 25px 0px 35px 0px;
}

footer {
  clear: both;
  position: relative;
  z-index: 10;
  /* height: 3em;
  margin-top: 10px;
  text-align: center;
  font-size: 75%;
  color: black !important;
}

/** 
@media only screen and (max-width: 650px) {
    .container {
    margin: 0 auto;
    width: 100%;
    height: 100%
  }
  .wrapper {
    float: none;
    width: 100%;
  }
}**/ 
