body {
  font-family: 'Dosis',Helvetica,sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
h3 {
  text-align: center;
  font-size: 1.25em;
  color: #333333;
}

h3:hover {
  color: #993366;
}

a:hover {
    text-decoration: none;
}

/*
.imgoverlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: #ffffff;
}


.col-sm-4:hover h3 {
  color: #993366;
  font-weight: bold; 
}

.imgoverlay:hover {
  opacity: .5;
}
*/

.navbar-default .navbar-brand {
  color: #993366;
}

.container_main {
  padding-top: 5%;
}

.navbar {
  background-color: #ffffff;
  border-bottom-color: #ffffff;
}