    <h2>contact</h2>
    <p>Let's connect/talk/grab coffee.</p>
    <div class="contact" id="contact">
      <a href="mailto:emilybaron3@gmail.com" target="_blank">email</a></br>
      <a href="https://www.linkedin.com/in/embaron" target="_blank">linkedin</a></br>
      <a href="https://www.instagram.com/embryoh" target="_blank">instagram</a></br>
      <a href="https://medium.com/@embaron" target="_blank">medium</a></br>
      <a href="https://www.github.com/embaron" target="_blank">github</a></br>
    </div>