<div class="container_about">
<div id="project-info" class="row">
  <div class="col-md-6">
    <h3>Hello</h3>
    <p>I am the lead product designer at <a href="https://www.onechronicle.com">Chronicle</a> in New York City building a collaborative photo- and story-sharing platform.</p>
    <br>
    <p>I like learning new things, art, sewing, photography, bad movies, my cat Davey, traveling, science, dogs, camping & hiking, building things, and Jeopardy! </p>
    <br>
  </div>
  <div class="col-md-6">
    <h3>contact</h3>
    <p>Let's connect/talk/grab coffee.</p>
    <div class="contact" id="contact">
      <p><a href="mailto:emilybaron3@gmail.com" target="_blank">email </a></br>
      <a href="https://www.linkedin.com/in/embaron" target="_blank">linkedin</a></br>
      <a href="https://www.instagram.com/embryoh" target="_blank">instagram</a></br>
      <a href="https://medium.com/@embaron" target="_blank">medium</a></br>
      <a href="https://www.github.com/embaron" target="_blank">github</a></br></p>
    </div>
  </div>
</div>
</div>