<div class="container_about">
<div id="project-info" class="row">
  <div class="col-md-6">
    <h3>About</h3>
    <p>I am currently Head of Product at <a href="https://www.fleetwit.com">FleetWit</a>, where we are creating a platform for people to play trivia & puzzles for the chance to win prizes. It's like Jeopardy for your phone - pretty neat!</p>
    <p>In my spare time, I like learning new things, painting, sewing, photography, making/building things, bad movies, traveling, science, dogs, camping & hiking, and Jeopardy! </p>
    <br>
  </div>
  <div class="col-md-6">
    <h3>contact</h3>
    <p>New York City </br> Let's connect/talk/grab coffee.</p>
    <div class="contact" id="contact">
      <p><a href="mailto:emilybaron3@gmail.com" target="_blank">email </a></br>
      <a href="https://www.linkedin.com/in/embaron" target="_blank">linkedin</a></br>
      <a href="https://www.instagram.com/embryoh" target="_blank">instagram</a></br>
      <a href="https://medium.com/@embaron" target="_blank">medium</a></br>
      <a href="https://www.github.com/embaron" target="_blank">github</a></br></p>
    </div>
  </div>
</div>
</div>