{% assign loopindex = 0 %}
<div class="container_main_projects">
  {% for post in site.posts %}
  {% if post.categories contains "projects" %}

  {% assign loopindex = loopindex | plus: 1 %}
  {% assign rowfinder = loopindex | modulo: 3 %}
  {% if rowfinder == site.number_of_items_in_row %}
  <div class="row">
    {% endif %}

    <div class="col-md-4">
      <a href={{ post.url }} >
        <div class="imgoverlay">
          <img src={{ post.image-src }} alt={{ post.title }} width="90%">
        </div>
      </a>  
    </div>
 
  {% if rowfinder == site.number_of_items_in_row %}
  </div>
  {% endif %}
  
  {% endif %}
  {% endfor %}
</div>


