body {
  font-family: 'Lato',Helvetica,sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}


h3 {
  color: #666666;
  font-family: 'Dosis';
}

h1 {
  font-family: 'Dosis';
  font-weight: bold;
  margin-left: 2%;
}

h4 {
  color: #bbbbbb;
}

p {
  font-size: 1.1em;
  line-height: 2em;
}

nav {
    font-family: 'Dosis';
}

a:hover {
    text-decoration: none;
}

.col-md-3 {
    padding: 10px;
}

#project-details1 {
  /*background-color: #efefef;*/
  background-image: url(../assets/images/subtle_dots.png);
  padding: 2%;
}

#project-details2 {
  padding: 2%;
}

#project-info {
  padding: 20px;
}

.navbar-default .navbar-brand {
  color: #993366;
}

.container_main_projects, .container_main_patterns, .container_main_misc {
  padding-top: 60px;
}

.container_about {
  padding: 60px;
}

.navbar {
  background-color: #ffffff;
  border-bottom-color: #ffffff;
}